body {
    display: flex;
    flex-wrap: wrap;
    justify-content: auto;
    align-items: center;
}

div {
    width: 45%;
    height: 200px;
    background-color: rgb(117, 223, 163);
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    text-align: center;
}